.paginator {
    margin: 11px;
}
.pageNumber {
    padding: 2px;
    color: orange;
    /*border: 1px solid grey;*/
}

.pageNumber.selectedPage {
    font-weight: bold;
    color: orangered;
    border-color: black;
}